// Text-color
$text-color--primary: #fff;
$text-color--secondary: #8D81AC;
$text-color--tertiary: #848E97;
$text-color--dark: #323232;
$text-color--quaternary: #A291A5;
$text-color--violet-dark: #635C73;

// Background-color
$violet-dark: #635C73;
$violet-middle: #8D81AC;
$grey-dark: #323232;
$grey-middle: #848E97;
$grey-little: #d9d9d9;
$grey-light: #F4F4F4;
$white: #FFFFFF;

// Font-size
$font-size: 16px;
$font-size--h1: 24px;
$font-size--h2: 48px;
$font-size--h3: 24px;

$font-size--navbar:16px;
$font-size--prise: 60px;
$font-size--btn-prise: 15px;

$font-size--small: 14px;

// Screen-size
$screen-xs:                   320px;
$screen-sm:                   480px;
$screen-md:                   768px;
$screen-lg:                   992px;
$screen-xl:                   1200px;
